
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');


body{
    background-color: black;
    color: white;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Poppins', sans-serif;
    
}

.content{
    max-width: 500px;    
    margin: 50px auto;
    text-align: center;
}

#log-form{
    display: flex; 
    align-content: center;
}

#log-form-book-display{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#log-form-form{
    display: grid; 
    padding: 15px;

}

.form-item{
    display: block;
}

input, label {
    display:block;
}

.rating{
    display: flex;
    margin: auto;

}

#thoughts{
    width: 250px;
    height: 100px;
}

#page-num{
    width: 30px;
    margin: auto;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
}

#log-title{
    font-size: large;
    
}

/* #log-author{

} */

#title-author{
    display: flex;
    flex-direction: column;
    
}

#disp-title{
    margin: 0;
    
    
    

}

#disp-author{
    margin: 0;
    
}

#book-disp{
    display: flex;
    flex-direction: column;

}

.active-books, .wishlist-books{
    display: flex;
    flex-wrap: wrap;
}

